%li.dropdown.navbutton
  = link_to public_invest_snapshot_path, {class: 'dropdown-toggle', "data-toggle" => 'dropdown'} do
    Investors
    %span.caret


    -# %li.lmenuitem.dropdown_listbutton= link_to "Investor Snapshot", controller: "public", action: "invest_snapshot"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Financial Database", controller: "public", action: "financial_database"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Events", controller: "public", action: "events"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Presentations", controller: "public", action: "presentations"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Annual and Interim Reports", controller: "public", action: "annual_reports"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Analyst Coverage", controller: "public", action: "analyst_coverage"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Regulatory Filings", controller: "public", action: "reg_filings"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Shareholder Services", controller: "public", action: "share_services"
    -# %li.lmenuitem.dropdown_listbutton= link_to "Links", controller: "public", action: "links"
