%nav.navbar.navbar-sas.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{data: {target: ".navbar-collapse", toggle: "collapse"}, type: "button"}
  %span.icon-bar
    %span.icon-bar
      %span.icon-bar
    = link_to image_tag"logo.png", controller: "public", action: "index"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right

        - ["profile", "corporate", "mines", "investors"].each do |tab|
          =render partial: "public/#{tab}"

